table{
	font-size: 1.3rem
}

.user-boxes:nth-child(odd) {
    background: #eeffe6;
}

.user-boxes:nth-child(even){
	background: #ddffcc;
}
.map-input-box{
	margin-top: 50px;
}

.admin-user-output{
	height: 300px;
	overflow-y: scroll;
}

.admin-dish-output{
	height: 300px;
	overflow-y: scroll;
}

.admin-spot-output{
	height: 300px;
	overflow-y: scroll;
}

.admin-subNeighborhood-output{
	height: 300px;
	overflow-y: scroll;
}

.admin-neighborhood-output{
	height: 300px;
	overflow-y: scroll;
}

.admin-genre-output{
	height: 300px;
	overflow-y: scroll;
}

.admin-review-output{
	height: 300px;
	overflow-y: scroll;
}

.admin-checkIn-output{
	height: 300px;
	overflow-y: scroll;
}
