@import url("https://fonts.googleapis.com/css?family=News+Cycle:400,700");

body{
	background-image: url('fastfoodbg.jpg') !important;
	font-family: "News Cycle" !important;
}


.shadow-container:hover {
	-webkit-box-shadow: 0 0 20px #253f3f;
	box-shadow: 0 0 20px #253f3f;

}

.shad2 {
    transition: box-shadow .5s ease;
}

.shad2:hover {
    box-shadow: 0px 0px 6px black;
}


.shadow-container {
	-webkit-box-shadow: 0 0 20px pink;
	box-shadow: 0 0 20px pink;
	transition: box-shadow .3s ease
}

table{
	font-size: 1.3rem
}

.flexwrap{
	flex-wrap: wrap;
}
.top-five div:nth-of-type(1) {transition: flex-grow 0.3s ease; flex-grow: 1;}
.top-five div:nth-of-type(2) {transition: flex-grow 0.3s ease; flex-grow: 1;}
.top-five div:nth-of-type(3) {transition: flex-grow 0.3s ease; flex-grow: 1;}
.top-five div:nth-of-type(4) {transition: flex-grow 0.3s ease; flex-grow: 1;}
.top-five div:nth-of-type(5) {transition: flex-grow 0.3s ease; flex-grow: 1;}
.top-five div:nth-of-type(1) {transition: flex-grow 0.3s ease; -webkit-flex-grow: 1;}
.top-five div:nth-of-type(2) {transition: flex-grow 0.3s ease; -webkit-flex-grow: 1;}
.top-five div:nth-of-type(3) {transition: flex-grow 0.3s ease; -webkit-flex-grow: 1;}
.top-five div:nth-of-type(4) {transition: flex-grow 0.3s ease; -webkit-flex-grow: 1;}
.top-five div:nth-of-type(5) {transition: flex-grow 0.3s ease; -webkit-flex-grow: 1;}
.top-five:hover div:nth-of-type(1) {flex-grow: 1;}
.top-five:hover div:nth-of-type(2) {flex-grow: 5;}
.top-five:hover div:nth-of-type(3) {flex-grow: 1;}
.top-five:hover div:nth-of-type(4) {flex-grow: 5;}
.top-five:hover div:nth-of-type(5) {flex-grow: 1;}
.top-five:hover div:nth-of-type(1) {-webkit-flex-grow: 1;}
.top-five:hover div:nth-of-type(2) {-webkit-flex-grow: 5;}
.top-five:hover div:nth-of-type(3) {-webkit-flex-grow: 1;}
.top-five:hover div:nth-of-type(4) {-webkit-flex-grow: 5;}
.top-five:hover div:nth-of-type(5) {-webkit-flex-grow: 1;}

.anim-sparkle{
	transition: all 0.8s ease;
 border-radius: 50px;
 width: 800px
}

.anim-sparkle:hover{
	width: 350px
}


.anim-height{
	transition: all 0.2s ease;
}

.anim-height:hover{
	height: 210px
}



.anim-button{
	transition: all 0.4s ease;
	border-radius: 1px;

}

.anim-button:hover{
	border-radius: 50px;
}

.anim-flex img:nth-of-type(1) {flex-grow: 5;}
.anim-flex img:nth-of-type(2) {flex-grow: 1;}
.anim-flex img:nth-of-type(3) {flex-grow: 5;}
.anim-flex img:nth-of-type(4) {flex-grow: 1;}
.anim-flex img:nth-of-type(5) {flex-grow: 5;}
.anim-flex img:nth-of-type(1) {-webkit-flex-grow: 5;}
.anim-flex img:nth-of-type(2) {-webkit-flex-grow: 1;}
.anim-flex img:nth-of-type(3) {-webkit-flex-grow: 5;}
.anim-flex img:nth-of-type(4) {-webkit-flex-grow: 1;}
.anim-flex img:nth-of-type(5) {-webkit-flex-grow: 5;}
.anim-flex:hover img:nth-of-type(1) {flex-grow: 1;}
.anim-flex:hover img:nth-of-type(2) {flex-grow: 5;}
.anim-flex:hover img:nth-of-type(3) {flex-grow: 1;}
.anim-flex:hover img:nth-of-type(4) {flex-grow: 5;}
.anim-flex:hover img:nth-of-type(5) {flex-grow: 1;}
.anim-flex:hover img:nth-of-type(1) {-webkit-flex-grow: 1;}
.anim-flex:hover img:nth-of-type(2) {-webkit-flex-grow: 5;}
.anim-flex:hover img:nth-of-type(3) {-webkit-flex-grow: 1;}
.anim-flex:hover img:nth-of-type(4) {-webkit-flex-grow: 5;}
.anim-flex:hover img:nth-of-type(5) {-webkit-flex-grow: 1;}

.shad {
    box-shadow: none;
    transition: all .4s ease;

    border: 1px solid #eee;
}

.shad:hover {
    box-shadow: 5px 4px 4px pink;
}


.flex{
	display: flex;
  display: -webkit-flex: 1; /* Safari 6.1+ */
  display:  -ms-flex: 1; /* IE 10 */
    flex: 1;
}

.centered {
	margin: 0 auto;
}

.med-pad{
	padding: 15px;
}

.med-mar{
	margin: 15px;
}


.big-pad{
	padding: 40px;
}

.big-mar{
	margin: 40px;
}

.top-mar{
	margin-top: 400px;
}

.small-pad{
	padding: 5px;
}

.small-mar{
	margin: 5px;
}
.inline{
	display:inline;
}
.user-boxes:nth-child(odd) {
    background: #eeffe6;
}

.user-boxes:nth-child(even){
	background: #ddffcc;
}
.map-input-box{
	margin-top: 50px;
}


.admin-user-output{
	height: 800px;
	overflow-y: scroll;
}

.admin-dish-output{
	height: 800px;
	overflow-y: scroll;
}

.admin-spot-output{
	height: 800px;
	overflow-y: scroll;
}

.admin-subNeighborhood-output{
	height: 300px;
	overflow-y: scroll;
}

.admin-neighborhood-output{
	height: 300px;
	overflow-y: scroll;
}

.admin-genre-output{
	height: 300px;
	overflow-y: scroll;
}

.admin-review-output{
	height: 300px;
	overflow-y: scroll;
}

.admin-checkIn-output{
	height: 300px;
	overflow-y: scroll;
}


.jackpot{
    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 1s infinite;
}

@-webkit-keyframes color-change {
    0% { color: orange; }
    50% { color: purple; }
    75% { color: pink; }
}
@-moz-keyframes color-change {
    0% { color: orange; }
    50% { color: purple; }
    75% { color: pink; }
}
@-ms-keyframes color-change {
    0% { color: orange; }
    50% { color: purple; }
    75% { color: pink; }
}
@-o-keyframes color-change {
    0% { color: orange; }
    50% { color: purple; }
    75% { color: pink; }
}
@keyframes color-change {
    0% { color: orange; }
    50% { color: purple; }
    75% { color: pink; }
